.contacts {
   padding-top: 96px;
 }
 .contacts__title {
 }
 .contacts__block {
   max-width: 1060px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   gap: 32px;
   padding-bottom: 94px;
 }
 .map-contacts {
   flex-shrink: 0;
   border-radius: 32px;
 }
 .form-contacts {
   padding: 48px 56px;
   border-radius: 32px;
   background-color: var(--color-primary-blue-dark);
 }
 .form-contacts__title {
   color: var(--color-primary-white);
   text-align: center;
   font-size: 22px;
   font-weight: 600;
   margin-bottom: 32px;
 }
 .form-contacts__title span {
   color: var(--color-primary-blue-light);
 }
 .user-input.input-contacts {
   margin-bottom: 16px;
 }