.footer {
   position: relative;
   background-color: var(--color-primary-blue-dark);
 }
 .footer::after {
   content: "";
   position: absolute;
   bottom: 0;
   right: 0;
   width: 247px;
   height: 152px;
   background-image: url(./img/medical.png);
   background-repeat: no-repeat;
 }
 .footer__container {
   display: flex;
   justify-content: space-between;
   gap: 20px;
   padding-top: 56px;
   padding-bottom: 56px;
 }
 .footer__logo {
 }
 .footer__nav {
 }
 .nav-footer__menu {
 }
 .nav-footer__item:not(:last-child) {
   margin-bottom: 16px;
 }
 .nav-footer__link {
   color: var(--color-primary-white);
   transition: color 0.2s;
 }
 .nav-footer__link:hover {
   color: var(--color-primary-blue-light);
 }
 .footer__address {
 }
 .address-footer {
 }
 .address-footer__list {
 }
 .address-footer__item:not(:last-child) {
   margin-bottom: 16px;
 }
 .address-footer__item a {
   color: var(--color-primary-white);
   transition: color 0.2s;
 }
 .address-footer__item a:hover {
   color: var(--color-primary-blue-light);
 }
 .address-footer__box {
   display: flex;
   gap: 24px;
 }
 .address-footer__icon {
   fill: var(--color-primary-white);
   transition: fill 0.2s;
 }
 .address-footer__icon:hover {
   fill: var(--color-primary-blue-light);
 }
 .footer__politic {
 }
 .footer__politic_lable {
   margin-bottom: 16px;
 }
 .footer__politic_lable a {
   color: var(--color-primary-white);
   transition: color 0.2s;
 }
 .footer__politic_lable a:hover {
   color: var(--color-primary-blue-light);
 }
 .footer__politic_copyright {
   font-size: 13px;
   color: var(--color-secondary-grey-light);
 }