.form-terms {
   text-align: center;
   color: var(--color-secondary-grey-light);
   font-size: 12px;
   line-height: 1.5;
   &__link {
   color: var(--color-secondary-grey-light);
   text-decoration: underline;
 }
 }

 