.input {
   &__control {
   border-radius: 32px;
   border: 2px solid var(--color-secondary-grey-light);
   background-color: var(--color-primary-blue-dark);
   width: 100%;
   color: var(--color-primary-white);
   padding: 18px 32px;
   font-size: 13px;
   &::placeholder {
      color: var(--color-primary-white);
   }
   &:focus {
      background-color: var(--color-secondary-grey-light);
      outline: none;
   }
 }
}