.backdrop {
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #353535d0;
   padding: 20px 0;
   transition: opacity 0.2s, visibility 0.2s;
   z-index: 20;
 }
 .backdrop.is-hidden {
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
 }
 .modal {
   position: relative;
   width: 100%;
   max-width: 722px;
   height: 100%;
   max-height: 680px;
   border-radius: 48px;
   padding: 42px 144px;
   background-color: var(--color-primary-blue-dark);
   overflow-y: auto;
 }
 .modal-btn-close {
   position: absolute;
   top: 42px;
   right: 42px;
 }
 .modal-title {
   color: var(--color-primary-white);
   text-align: center;
   font-family: "Play", sans-serif;
   font-size: 64px;
   font-weight: 700;
   margin-bottom: 40px;
 }
 .modal-subtitle {
   color: var(--color-primary-white);
   text-align: center;
   font-size: 22px;
   font-weight: 600;
   margin-bottom: 32px;
 }
 .modal-subtitle span {
   color: var(--color-primary-blue-light);
 }
 .modal-form {
   padding: 0 42px;
 }
 .user-input.input-modal {
   margin-bottom: 24px;
 }
 .user-input input {
   border-radius: 32px;
   border: 2px solid var(--color-secondary-grey-light);
   background-color: var(--color-primary-blue-dark);
   width: 100%;
   color: var(--color-primary-white);
   padding: 18px 32px;
   font-size: 13px;
 }
 .user-input input::placeholder {
   color: var(--color-primary-white);
 }
 .user-input input:focus {
   background-color: var(--color-secondary-grey-light);
   outline: none;
 }
 .modal-button {
   display: block;
   margin: 0 auto 8px;
 }
 .modal-button:focus {
   background-color: var(--color-primary-white);
 }
 .modal-text {
   text-align: center;
   color: var(--color-secondary-grey-light);
   font-size: 12px;
   line-height: 1.5;
 }
 .modal-text a {
   color: var(--color-secondary-grey-light);
   text-decoration: underline;
 }