.why-us {
   padding-top: 96px;
 }
 .why-us__container {
 }
 .why-us__title {
 }
 .why-us__block {
   max-width: 1060px;
   margin: 0 auto;
 }
 .why-us__list {
   display: flex;
   gap: 56px;
   flex-wrap: wrap;
 }
 .why-us__item {
   flex-basis: calc((100% - 112px) / 3);
   padding: 24px 32px;
   border-radius: 32px;
   background: var(--color-primary-white);
   box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
 }
 .item-why {
 }
 .why-us__card {
   justify-items: center;
 }
 .card-why img {
   display: block;
   margin: 0 auto;
   margin-bottom: 8px;
 }
 .card-why__text {
   display: block;
   color: var(--color-primary-black);
   text-align: center;
   font-size: 18px;
   font-weight: 400;
   line-height: 1.333;
   margin: 0;
 }