.footer {
  position: relative;
  background-color: var(--color-primary-blue-dark);
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 247px;
    height: 152px;
    background-image: url("../img/medical.png");
    background-repeat: no-repeat;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 56px;
    padding-bottom: 56px;
  }
  &__logo {
    display: block;
  }
}

.nav-footer {
  &__item:not(:last-child) {
    margin-bottom: 16px;
  }
  &__link {
    color: var(--color-primary-white);
    transition: color 0.2s;
  }
  &__link:hover {
    color: var(--color-primary-blue-light);
  }
}

.address-footer {
  &__item:not(:last-child) {
    margin-bottom: 16px;
  }
  &__link {
    color: var(--color-primary-white);
    transition: color 0.2s;
  }
  &__link:hover {
    color: var(--color-primary-blue-light);
  }
  &__box {
    display: flex;
    gap: 24px;
  }
  &__icon {
    fill: var(--color-primary-white);
    transition: fill 0.2s;
  }
  &__icon:hover {
    fill: var(--color-primary-blue-light);
  }
}

.politic-footer {
  &__link {
    margin-bottom: 16px;
    color: var(--color-primary-white);
    transition: color 0.2s;
    &:hover {
      color: var(--color-primary-blue-light);
    }
  }
  &__text {
    font-size: 13px;
    color: var(--color-secondary-grey-light);
  }
}
